  <!--------------------------------------ABOUT SECTION-------------------------------------->

  <section class="about" id="about">
    <div class="conteiner col-lg-6 py-3 bd-highlight d-inline-block aboutText" data-aos="fade-right"
      data-aos-duration="1500">
      <div class="conteiner ms-3 col-lg-10">
        <h1 class="mb-3">¿Por que ahorrar?</h1>
        <p>
          Cuando se ahorra, se establece una reserva para el futuro. Con el ahorro se puede prever la independencia
          económica para crear un capital semilla o patrimonio, que por pequeño que sea, te servirá en el futuro para
          cualquier de estos propósitos.<br>
          <li>La educación de tus hijos.</li>
          <li>El poder tomar una vacaciones y viajar.</li>
          <li>La posibilidad de comprar un auto o una casa.</li>
          <li>Para tu jubilación.</li>
          <li>Para solventar emergencias médicas o de otro tipo.</li>
          <li>Para cubrir los gastos de tu hogar en caso que hayas perdido tu empleo, mientras encuentras otro.</li>
          <li>Te ayudará a mejorar tu situación financiera, por ejemplo al pagar tus cuentas pendientes y mejorar tu historial crediticio.</li>
          <li>Así también tu ahorro lo puedes invertir en ti mismo, en tu educación, entrenamiento laboral o para establecer algún tipo de negocio.</li>
        </p>
      </div>
    </div>
    <img class="img"
      src="https://image.freepik.com/foto-gratis/hombre-negocios-exitoso-hucha-hucha-celebracion-pulgares-arriba-oficina_1391-164.jpg"
      alt="alcancía">
  </section>