<!--------------------------------------GLOSARIO-------------------------------------->

<section class="glosario" id="glosario">

  <h2 class="sub_title">Glosario</h2>
<div class="glosario_grid">
<div class="glosario_item">
  <h3>Ingreso</h3>
  <p>100 % de tu ingreso.<br>
  De aquí partirán las dos divisiones más importantes:
  </p>
  <div class="sub_title_ul">  
    <li>Para toda la vida</li>
    <li>y El resto</li>
  </div>
</div>
<div class="glosario_item">
  <h3>Para toda la vida</h3>
  <p>El 10% de todo tu ingreso.<br>
  Destinado a la construcción de tu patrimonio a largo plazo.</p>
  <div class="sub_title_ul">  
    <li>Instrumento de inversión de bajo riesgo (Lote, fondo de inversión, etc.)</li>
  </div>
</div>
<div class="glosario_item">
  <h3>Gastos Básicos</h3>
  <p>El 60% del resto.<br>
  Gastos que se repiten más de una vez al año.
  </p>
  <div class="sub_title_ul">  
    <li>Servicios (Luz, agua, educación, etc.)</li>
    <li>Alquiler, alimentos, etc.</li>
  </div>
</div>
<div class="glosario_item">
  <h3>Gustos de corto plazo</h3>
  <p>El 10% del resto.<br> 
  Gustos que te puedes dar de vez en mes o todos los meses.
  </p>
  <div class="sub_title_ul">  
    <li>Salidas (Cenas, almuerzos, meriendas, paseos, etc.)</li>
  </div>
</div>
<div class="glosario_item">
  <h3>Gustos de largo plazo</h3>
  <p>El 10% del resto.<br> 
  Gustos de mayor costo que no es posibles acceder a ellos sin ahorrar previamente.
  </p>
  <div class="sub_title_ul">  
    <li>Electrodomésticos</li>
    <li>Vacaciones</li>
  </div>
</div>
<div class="glosario_item">
  <h3>Emergencias</h3>
  <p>El 20% del resto.<br> 
  Gastos que no están planificados y surgen de manera inesperada.
  </p>
  <div class="sub_title_ul">  
    <li>Medicas</li>
    <li>Accidentes</li>
  </div>
</div>
</div>
</section>